---
layout: base.njk
---

<article class="post">
  <header class="post__header">
    <h1>{{ title }}</h1>
    <div class="post__details">
      <time datetime="{{ page.date | htmlDateString }}">
        {{ page.date | readableDate }}
      </time>
      <span> | </span>
      <span>{{ content | readingTime }} read</span>
    </div>
    <div class="post-list__tags">
      {% for tag in tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}">#{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
    </div>
  </header>

  <main class="post__content">
    {{ content | safe }}
  </main>

  

  <aside class="post__aside">
    {% if 'serverless' in tags %}
      <p>If you enjoyed this article, take a look at my other explorations in the <a href="/serverless">serverless space!</a></p>
    {% endif %}

    <h4>You Might Also Like</h4>

    {% set relatedPosts = collections.posts | status('published') | filterTags(tags, ["posts"]) %}

    <nav class="post__pagination">
      {%- set nextPost = relatedPosts | getNextCollectionItem(page) %}
      {%- if nextPost %}

        <a href="{{ nextPost.url | url }}">
          <span>←</span>
          <span>{{ nextPost.data.title }}</span>
        </a>

      {% endif %}

      {%- set previousPost = relatedPosts | getPreviousCollectionItem(page) %}
      {%- if previousPost %}

        <a href="{{ previousPost.url | url }}">
          <span>{{ previousPost.data.title }}</span>
          <span>→</span>
        </a>

      {% endif %}

    </nav>
  </aside>
  <p>Want to get a monthly recap of what I've been working on?</p>
  <iframe src="https://journeytothecore.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>

</article>