---
layout: base.njk
---

<article class="post">
  <header class="post__header">
    <h1>{{ title }}</h1>
    <div class="post__details">
      <time datetime="{{ page.date | htmlDateString }}">
        {{ page.date | readableDate }}
      </time>
    </div>
    <div class="post-list__tags">
      {% for tag in tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}">#{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
    </div>
  </header>

  <main class="post__content">
    {% set aboveContent = content | split(0) %}
    {% set belowContent = content | split(1) %}
    {{ aboveContent | safe }}
    <aside class="post__aside">
      <h4>If You're Enjoying This, You Might Also Like</h4>

      {% set relatedPosts = collections.posts | removeSelf(title) | status('published') | filterTags(tags, ["posts"]) | reverse | getFirstN(3) %}

      <ul class="post-list">
      {% for post in relatedPosts %}
        <li class="post-list__item">
          <h3 class="post-list__title">
            <a class="inline-suggestion"  href="{{ post.url }}">{{ post.data.title }}</a>
          </h3>

          <p class="post-list__meta">{{ post.data.description }}</p>
        </li>
      {% endfor %}
      </ul>
    </aside>

    {{ belowContent | safe }}
    {# {{ split-content content "<h2>Test</h2>" | safe }} #}
  </main>
</article>

<div id="end-of-post"></div>