---
layout: base
---

<h2>{{title}}</h2>

{{ content | safe }}

{% set sectionPosts = collections.posts | status('published') | filterTags(tagsToInclude) %}

<ul class="post-list">
  {% for post in sectionPosts %}
    <li class="post-list__item">

      <h3 class="post-list__title">
        <a  href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>
      <div>
        <div class="post-list__meta">
          <span>{{ post.data.description}}</span>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>